@import "./header.scss";
@import "./menu.scss";
:root{
  --blue: hsl(233,8%,62%);
  --grayblue: hsl(233, 26%, 24%);
  --limeGreen: hsl(136, 65%, 51%);
  --awasColorGray: hsl(0,0%,64.7%);
  --awasColorGray2: hsl(0,0%,24.7%);
  --rightCyan: hsl(192,70%,51%);
  --awasColorBlack: hsl(0,0%,12.9%);
  --awasColorWhite: #ffffff;
  --awasColorGreen: hsl(163.5,100%,49.8%);
  font-size: 18px;
  font-family: 'Dosis', sans-serif;
}

body {
  //font-family: 'Signika Negative', sans-serif;
  //font-weight: 400;
  margin:0;
  background: var(--awasColorBlack);
  color: var(--awasColorWhite);
  //overflow: hidden;
}

p {
  text-align: justify;
  span {
    color: var(--awasColorGreen);
  }
}

input, button {
  font-family: 'Dosis', sans-serif;
  text-decoration: none;
  border-style: none;
  outline-style: none;
}
/*
.button {
  color: white;
  text-decoration: none;
  padding: 0.6em 2em;
  border-radius: 1.5em;
  background-image: linear-gradient(to right, var(--limeGreen),var(--rightCyan));
  text-align: center;
}
*/
.wrapper{
  padding: 0.5em 1.8em 3em 1.8em;
  //border: 1px solid red;
  //height: calc(100vh - 25px);
  
}

.awas_grid{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: stretch;
  //border: 1px solid green;
  align-items: center;
  height: calc(100vh - 150px);
}
/*.awas_grid_column{
  border: 1px solid yellow;
}*/
/*.column_login{
  border: 1px solid magenta;
}*/
/*.awwas_grid_column{
  border: 1px solid magenta; 
}*/
.column_intro{
  display: none;
}

/*Button primary*/

.awas_btnPrimary {
  color: var(--awasColorBlack);
  font-size: 1em;
  padding: 0.5em 2em;
  border-radius: 3em;
  background: var(--awasColorGreen);
  font-weight: 700 !important;
  margin-top: 5px;
  cursor: pointer;
}

.awas_h1 {
  color: var(--awasColorGray);
  font-size: 2em;
  margin: 0;
}

/*Button primary line*/
.awas_btnSecundary {
  color: var(--awasColorGreen);
  font-size: 1em;
  padding: 0.5em 2em;
  border-radius: 3em;
  background: none;
  font-weight: 700 !important;
  margin-top: 5px;
  cursor: pointer;
  border: 2px solid var(--awasColorGreen);
}

/* Login */

.awas_login {
  display: flex;
  flex-direction: column;
  &_create {
    margin-top: 30%;
  }
  &_enter{
    margin-top: 30px;
  }
}
.awas_text {
  border-style: none;
  border-radius: 1em;
  padding: 0.5em 1em;
  background: none;
  border: 1.3px solid var(--awasColorWhite);
  margin-top: 10px;
  color: var(--awasColorWhite);
  font-size: 1em;
  font-weight: 500;
}
.awas_login_separate{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  text-align: center;
  margin: 55px 0 20px 0;
  div{
    margin: 0px 10px 0px 10px;
    border-top:0.1px solid white;
    width: 150px;
  }
}


/* Logo */

.awas_logo {
  font-family: 'Luckiest Guy', cursive;
  font-size: 2.5em;
  color:var(--awasColorGreen);
}

/*box top green*/

.box-top-green {
   width: 223px;
   height: 120px;
   position: absolute;
   top: -25px;
   right: -100px;
   transform: rotate(205deg);
   background: var(--awasColorGreen);
   display: none;
}
.box-bottom-green {
  width: 200px;
  height: 172px;
  position: absolute;
  bottom: -100px;
  left: -55px;
  transform: rotate(22deg);
  background: var(--awasColorGreen);
  display: none;
}
.box-bottom-gray{
  width: 520px;
  height: 87px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  transform: rotate(-10deg);
  background: var(--awasColorGray2);
  display:none;
}

/*Redes sociales*/

.icon {
  display: flex;
  justify-content: center;

  &__google {
    align-items: center;
    background: white;
    background-image: url("../../images/icon-google.png");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    cursor: pointer;
  }

  &__facebook{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #3b5998;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-left: 5px;
    cursor: pointer;
  }

}

@media screen and (min-width: 768px){
  /*Tablet*/
  .awas_grid{
    grid-template-columns: 1fr;
    grid-column-gap: 10px;
  }
  .column_intro{
    display: block;
  }
  /*.column_login {
    //padding:0 5%;
    border: 1px solid magenta;
  }*/
}

@media screen and (min-width: 920px){
  /*Tablet*/
  .awas_grid{
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
  }
  .column_login {
    padding:0 5%;
  }
}

@media screen and (min-width: 1440px){
  /*Tablet*/
  
  /*.awas_grid{
    grid-template-columns: 2fr, 1fr;
  }*/
  .column_login {
    padding:0 15%;
    width: 500px;
  }
  
}