<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>AWAS</title>
  <link
    href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Luckiest+Guy&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="../static/css/estilos.css">
  <link rel="stylesheet" href="../static/css/register.css">
  <script defer src="../js/all.min.js"></script>
</head>

<body>
  <div class="wrapper">

    <div class="awas_grid">

      <div class="awas_grid_column ">

      </div>
      <div class="awas_grid_column column-register">
        <div class="box-register">
          <p>Crear tu cuenta, para continuar con la diversión</p>
          <span>Únete a AWAS y no esperes más</span>
          <div class="box-inputs">
            <div class="awas-col-12">
              <input type="text" class="awas_text awas-control" id="awas_text_name" name="" id="" placeholder="Nombres">
            </div>
            <div class="awas-col-12">
              <input type="text" class="awas_text awas-control" id="awas_text_lastname" name="" id=""
                placeholder="Apallidos">
            </div>
            <div class="awas-row">
              <div class="awas-col-6">
                <input type="text" class="awas_text awas-control" id="awas_text_born" name="" id=""
                  placeholder="Fecha de nacimiento">
              </div>
              <div class="awas-col-6">
                <select class="awas_cbo" name="" id="">
                  <option value="0">Seleccione</option>
                  <option value="1">Femenino</option>
                  <option value="2">Masculino</option>
                </select>
              </div>
            </div>

            <div class="awas-col-12">
              <input type="text" class="awas_text awas-control" id="awas_text_email" name="" id="" placeholder="Correo">
            </div>
            <div class="awas-col-12">
              <input type="text" class="awas_text awas-control" id="awas_text_password" name="" id=""
                placeholder="Contraseña">
            </div>

          </div>
          <p>Al registrarte estas aceptando nuestros Terminos y condiciones, además de nuestras Políticas de privacidad,
            incluido el Uso de cookies.</p>
          <button class="awas_btnPrimary">Registrarme</button>
          <p>Ya tengo una cuenta <a href="#" id="linkGoLogin" class="awas_link">Iniciar Sesión</a></p>

        </div>
      </div>

    </div>
  </div>

  <script src="../js/register.js"></script>
</body>

</html>