.header {
  display: flex;
  padding: 1em 1.5em;
  justify-content: space-between;
}

.menu {
  width: 40px;
  background: url("../images/icon-hamburger.svg") no-repeat center;
}

:root {
  --blue: hsl(233,8%,62%);
  --grayblue: hsl(233, 26%, 24%);
  --limeGreen: hsl(136, 65%, 51%);
  --awasColorGray: hsl(0,0%,64.7%);
  --awasColorGray2: hsl(0,0%,24.7%);
  --rightCyan: hsl(192,70%,51%);
  --awasColorBlack: hsl(0,0%,12.9%);
  --awasColorWhite: #ffffff;
  --awasColorGreen: hsl(163.5,100%,49.8%);
  font-size: 18px;
  font-family: "Dosis", sans-serif;
}

body {
  margin: 0;
  background: var(--awasColorBlack);
  color: var(--awasColorWhite);
  box-sizing: content-box;
}

p {
  text-align: justify;
}
p span {
  color: var(--awasColorGreen);
}

input, button {
  font-family: "Dosis", sans-serif;
  text-decoration: none;
  border-style: none;
  outline-style: none;
}

/*
.button {
  color: white;
  text-decoration: none;
  padding: 0.6em 2em;
  border-radius: 1.5em;
  background-image: linear-gradient(to right, var(--limeGreen),var(--rightCyan));
  text-align: center;
}
*/
.wrapper {
  margin: 1em 1.8em;
}

.awas_grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: stretch;
  align-items: center;
}

.column_intro {
  display: none;
}

/*Button primary*/
.awas_btnPrimary {
  color: var(--awasColorBlack);
  font-size: 1em;
  padding: 0.5em 2em;
  border-radius: 3em;
  background: var(--awasColorGreen);
  font-weight: 700 !important;
  margin-top: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.awas_btnPrimary:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
  transform: scale(1.05);
}

.awas_btnPrimary:after {
  transition: opacity 0.3s ease-in-out;
}

.awas_h1 {
  color: var(--awasColorGray);
  font-size: 2em;
}

/*Button primary line*/
.awas_btnSecundary {
  color: var(--awasColorGreen);
  font-size: 1em;
  padding: 0.5em 2em;
  border-radius: 3em;
  background: none;
  font-weight: 700 !important;
  margin-top: 5px;
  cursor: pointer;
  border: 2px solid var(--awasColorGreen);
}

.awas_btnSecundary:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

/* Login */
.awas_login {
  display: flex;
  flex-direction: column;
}
.awas_login_create {
  margin-top: 40px;
}
.awas_login_enter {
  margin-top: 30px;
}

.column_login {
  padding: 0;
}

.awas_text {
  border-style: none;
  border-radius: 1em;
  padding: 0.5em 1em;
  background: none;
  border: 1.3px solid var(--awasColorWhite);
  margin-top: 10px;
  color: var(--awasColorWhite);
  font-size: 1em;
  font-weight: 500;
}

.awas_login_separate {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  text-align: center;
  margin: 2em 0;
}
.awas_login_separate div {
  margin: 0px 10px 0px 10px;
  border-top: 0.1px solid rgba(255, 255, 255, 0.1);
  width: 40%;
}
.awas_login_separate span {
  width: 100px;
}

.awas_header {
  padding-top: 1em;
  padding-bottom: 1em;
}

/* Logo */
.awas_logo {
  font-family: "Luckiest Guy", cursive;
  font-size: 2.5em;
  color: var(--awasColorGreen);
}

/*box top green*/
.box-top-green {
  width: 223px;
  height: 120px;
  position: absolute;
  top: 0;
  right: 0;
  background: url(../../images/awas-box-top-right.png) center no-repeat;
}

.box-bottom-green {
  width: 200px;
  height: 172px;
  position: absolute;
  bottom: -100px;
  left: -55px;
  transform: rotate(22deg);
  background: var(--awasColorGreen);
  display: none;
}

.box-bottom-gray {
  width: 520px;
  height: 87px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  transform: rotate(-10deg);
  background: var(--awasColorGray2);
  display: none;
}

/*Redes sociales*/
.icon {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.icon a {
  text-decoration: none;
}
.icon__google {
  align-items: center;
  background: white;
  color: #212121;
  display: flex;
  border-radius: 50px;
  margin-right: 5px;
  cursor: pointer;
}
.icon__google .img-google {
  background-image: url("../../images/icon-google.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
}
.icon__google .img-google-text {
  display: none;
}
.icon__google:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
}
.icon__facebook {
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  background: #3b5998;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  margin-left: 5px;
  cursor: pointer;
}
.icon__facebook .icon_fb_text {
  display: none;
}
.icon__facebook:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
}

@media screen and (min-width: 768px) {
  /*Tablet*/
  .awas_grid {
    grid-template-columns: 1fr;
    grid-column-gap: 10px;
  }

  .awas_login_separate div {
    width: 140px;
  }
}
@media screen and (min-width: 920px) {
  /*Tablet*/
  .awas_grid {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
  }

  .column_intro {
    display: block;
  }

  .column_login {
    padding: 0 5%;
  }

  p {
    font-size: 1.8em;
    font-weight: 500;
  }

  .icon {
    display: flex;
    font-weight: 600;
  }
  .icon__google {
    justify-content: center;
    width: 140px;
    height: 40px;
  }
  .icon__google .img-google {
    width: 20px;
    height: 40px;
    margin-right: 20px;
  }
  .icon__google .img-google-text {
    display: block;
  }
  .icon__facebook {
    width: 140px;
  }
  .icon__facebook .icon_fb {
    margin-right: 10px;
  }
  .icon__facebook .icon_fb_text {
    display: block;
  }
}
@media screen and (min-width: 1440px) {
  /*Tablet*/
  /*.awas_grid{
    grid-template-columns: 2fr, 1fr;
  }*/
  .column_login {
    padding: 0 15%;
    width: 500px;
  }

  .awas_login_separate div {
    width: 100px;
  }
}

/*# sourceMappingURL=estilos.css.map */
